<!DOCTYPE html>
<html lang="id" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Jadwal Sholat & Imsak" />
    <meta name="keywords" content="Jadwal, Sholat, Imsak, 2023" />
    <title>Al-Quran Online | Irvanudin</title>
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}" />
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/webjars/font-awesome/6.3.0/css/all.min.css" />
    <link rel="stylesheet" th:href="@{/style.css}" />
  </head>
  <body>
    <!-- Head -->
    <nav class="navbar navbar-dark bg-success sticky-top">
      <div class="container">
        <a class="navbar-brand m-0 h1 fw-bold" href="/"
          ><i class="fa-solid fa-book-quran"></i> Al-Qur'an Online</a
        >
      </div>
    </nav>
    <!-- Content -->
    <div class="container my-4">
      <div class="card p-2 text-center shadow-sm mb-2">
        <div
          class="fs-3 ayat fw-bold"
          th:text="${detail.data.namaLatin} + ' • ' + ${detail.data.nama}"
        ></div>
        <div
          th:text="${detail.data.tempatTurun} + ' • ' + ${detail.data.arti} + ' • ' + ${detail.data.jumlahAyat} + ' Ayat'"
        ></div>
      </div>
      <div class="card p-2 text-center shadow-sm mb-2">
        <div class="fs-3 ayat p-2">بِسْمِ اللهِ الرَّحْمَنِ الرَّحِيْمِ</div>
      </div>
      <div class="card p-2 shadow-sm mb-2" th:each="ayat : ${detail.data.ayat}">
        <div th:text="${detail.data.nomor} + ' : ' + ${ayat.nomorAyat}"></div>
        <div class="fs-3 text-end my-2 ayat" th:text="${ayat.teksArab}"></div>
        <div class="fw-semibold" th:text="${ayat.teksLatin}"></div>
        <hr style="margin: 2px" />
        <div th:text="${ayat.teksIndonesia}"></div>
      </div>
      <div class="card p-2 shadow-sm mb-2">
        <th:block th:unless="${detail.data.suratSebelumnya}">
          <a href="#" class="fs-3">
            <button
              type="button"
              class="btn btn-primary"
              th:text="${detail.data.suratSebelumnya.namaLatin} + ' • ' + ${detail.data.suratSebelumnya.nama}"
            ></button
          ></a>
        </th:block>
      </div>
    </div>
    <!-- Footer -->
    <footer
      class="text-center sticky-bottom p-3"
      style="background-color: #d1e7dd"
    >
      © 2023 Sistem Informasi - Irvanudin
    </footer>
  </body>
</html>
